{% extends 'listing/base.html' %}

{% block title %} {{ product.title }} {% endblock %}

{% block body_block %}

        {% if product %}
            <div class="well sidebar-nav">
                <h2>{{ product.title }}</h2> 
            </div>

            <div class="row-fluid">
                <div class="span4">
                    <img src="media/{{product.image1}}" height="250" width="250"/><hr> 
                
                    <img src="media/{{product.image2}}" height="250" width="250"/> <hr>
                
                    <img src="media/{{product.image3}}" height="250" width="250"/> <hr>
                </div>
                        
                <div class="span4">
                    Price : {{ product.price }}<br>
                    Description: {{ product.description }}<br>
                    <br>
                    <br>
                    Posted by:<br>
                    Name: {{product.owner.user.username}}<br>
                    Email: {{product.owner.user.email}}<br>
                    Time : {{ product.time }}<br>
                    Subscribers:
                        {% for each in product.subscribers.all %}
                        {{ each.user.username }} | 
                        {% endfor %}
                        <br>
                    Placed user:
                        {% for each in product.placed_users.all %}
                        {{ each.user.username}} | 
                        {% endfor %}
                        <br>
                </div>

                    {% if user.is_authenticated %}
                        {% if is_owner %}
                            You are the owner. Hence, you can't shortlist or place order for this product.<br>
                            <br>
                            <a href="/listing/{{ product.id }}/mod_item">Edit Product Details</a>
                        {% else %}
                            
                            {% if has_shortlisted %}
                                You have shortlisted this product.<br>
                            {% else %}
                                <button id="short" onclick="short_func()">Shortlist </button><br>
                            {% endif %}

                            {% if has_placed %}
                                You have placed order for this product.<br>
                            {% else %}
                                <button id="place" onclick="place_func()" >Place Order </button>
                            {% endif %}

                        {% endif %}
                    {% else %}
                         <a href="/listing/login">Login to Shortlist </a><br>
                         <a href="/listing/login">Login to Place Order </a>
                    {% endif %}
                </div>
        {% endif %} 
        <script>
            function short_func()
            {
                document.getElementById("short").disabled=true;
                location.href="/listing/product/{{ product.id }}/shortlist";
            }

            function place_func()
            {
                document.getElementById("place").disabled=true;
                location.href="/listing/product/{{ product.id }}/place_order";
            }
        </script>

{% endblock %}